<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-PledgeAThon1-20120808173111;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-PledgeAThon1-20120808173111.mdf" />-->
    <add name="Context" providerName="System.Data.SqlClient" connectionString="Server=77cf727c-66c9-4aac-8fbd-a0aa00fc7e7b.sqlserver.sequelizer.com;Database=db77cf727c66c94aac8fbda0aa00fc7e7b;User ID=lytddianljcnlsti;Password=pFncPrwD2JmWzgxsWip66aJ8Xuhp37EZUVpK8tXjHpqFhmgv6VRtCXvo5onujhK3;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.862" newVersion="2.6.3.862" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>