@{
    ViewBag.Title = "HMES March Mania 2013";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Quisque quis gravida neque. Fusce nulla ligula, egestas in commodo a, pharetra dictum sem. Donec sed neque ac odio ultrices sollicitudin at ac urna. 
                Maecenas cursus nibh non neque dapibus volutpat. Nullam sem neque, mattis id consectetur ut, elementum vitae ligula. 
                Pellentesque malesuada gravida ipsum, in adipiscing massa adipiscing quis. Quisque ac turpis at lorem rutrum blandit. 
                Mauris ac nisi vitae purus sagittis viverra. Morbi in lacus purus, et ullamcorper risus. Cras suscipit faucibus ipsum, id dignissim velit consequat quis. 
                Vestibulum sollicitudin velit ac libero ultricies sed pulvinar tellus elementum. Nam eu leo turpis, eu viverra erat. 
                Donec cursus, eros eu porta feugiat, sapien mi tristique lacus, egestas posuere libero dui ut metus. Donec eget tortor sodales mauris 
                pulvinar tempor.
            </p>
        </div>
    </section>
}

<div class="content-container">
    <div class="hb-wrapper">
    <div class="hoverbox">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nulla nulla, dictum sit amet pretium non, 
        ullamcorper in mi. Suspendisse mattis fermentum nisl, a sagittis purus pulvinar ac. Integer viverra, felis eu venenatis vulputate,
        lectus justo lobortis ligula, ac volutpat lectus turpis sed erat. Nam malesuada nisi at lacus dignissim quis 
        condimentum dolor viverra. Morbi placerat accumsan dui vel consectetur.</div>
    <div class="hoverbox">Morbi ultrices neque ullamcorper lectus aliquam ut pulvinar ipsum tincidunt. Integer dapibus luctus erat,
        ut fermentum massa faucibus et. Pellentesque sed arcu orci. Vivamus mattis, eros in ullamcorper ullamcorper, risus risus 
        venenatis quam, vel suscipit odio metus in magna. Nam et dignissim erat. Nam elementum elit eget elit interdum fringilla.
        Vivamus ac dignissim mauris. </div>
        <div class="hoverbox">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
            Ut ac mi enim, ut tempus nulla. Nulla malesuada lacinia lorem eget malesuada. Donec tempor quam fringilla orci ornare vehicula.
            Aliquam vestibulum enim et enim porttitor sed faucibus orci ornare.</div>
    </div>
</div>



    

